PORT=5000
MONGODB_URI=mongodb+srv://seu_usuario:sua_senha@seu_cluster.mongodb.net/album-copa-2026?retryWrites=true&w=majority
JWT_SECRET=sua_chave_secreta_super_segura_aqui_123456789
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
